/* _____________________Style globale_____________________*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans empattement;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*_____________________ Style de la home page _____________________*/









/* _____________________Style de la fiche de l'établissement _____________________*/

header {
    border: solid black;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans empattement;
}

.title_etablissement {
    border: solid black;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    color : #0F056B
 
}

.container_etablissement {
    border : solid transparent;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15%;
    gap : 20px;
    transform: translate(30%, -20%);
    width: 60%;
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);

    border: solid yellow;
}

.name_etablissement {
    border: solid brown;
    text-align: center;
}

.item {
    border-radius: 10px;
    line-height: auto;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding : 5px 10px;
    
}
.item-name-etablissement {
    border-bottom : solid #000;
    border-top : solid #000;
    color : #F00020;
    font-size: 16px ;
    text-align: center;
    flex-basis : 100%;
    height: 50px;
    padding-top: 30px;
}









/* _____________________Style de la liste des favoris _____________________*/









/* Style de la liste des favoris ___MEME QUE LA CARD SUR LA HOME PAGE___*/



/*_____________________ Style de la map _____________________*/



/* Contraintes pour Desktop */
@media screen and (min-width: 992px) {
    body {
        max-width: 1200px;
        /* Limiter la largeur de la page à 1200px */
    }

    .container {
        margin-right: 30px;
    }

    input #type-search {
        width: 100%;
        /* Utilisez width au lieu de box-sizing pour définir la largeur */
        box-sizing: border-box;
        /* Assurez-vous que la largeur inclut la bordure et le rembourrage */
    }

}

/*Mobile responsive and application des contraintes */
@media screen and (max-width: 768px) {

    body {
        padding: 50px;
        font-size: 14px;
        max-width: 100%;
        /* Largeur maximale du corps */
        margin: 0 auto;
        /* Centrer horizontalement */
    }

    .search-bar {
        display: flex;
        flex-direction: column;
        /* Pour mobile, affichez les éléments en colonne */
        margin: 20px;
        /* Ajout de marges pour un meilleur espacement */
        align-items: center;
    }


    input#type-search,
    input#location-search {
        box-sizing: border-box;
        margin-bottom: 20px;
        /* Ajout d'une marge entre les champs de recherche */
        border: solid #000000 1.5px;
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h2 {
    margin-top: 3rem;
    font-weight: 300;
    padding: 30px 10%;
    font-size: 30px;
    font-family: 'Montserrat',sans empattement ;
}



a button{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}


header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
}

button {
    padding: 9px 25px;
    background-color: rgb(186, 183, 188);
    border: none;
    border-radius: 50px;
}
.map {
    margin-top: 3rem;
    background-color: #c4c0c0;
    }

.map img {
    width: 50%;
    border-radius: 20px;
    padding: 30px 10%;
}

.Logo {
width: 20%;
}
